<form (submit)="validateCharacterForm()" class="postForm">
  <label>Name:
    <input type="text" name="newCharacter.name" [(ngModel)]="newCharacter.name">
  </label>
  <label>Apperance:
    <input type="text" name="newCharacter.apperance" [(ngModel)]="newCharacter.apperance">
  </label>
  <label>Level:
    <input type="Number" name="newCharacter.level" [(ngModel)]="newCharacter.level">
  </label>
  <label>Race:
    <select name="newCharacter.race" [(ngModel)]="newCharacter.race">
      <option></option>
      <option *ngFor="let race of allRaces.results">{{ race.name }}</option>
    </select>
  </label>
  <label>Class:
    <select type="text" name="newCharacter.class" [(ngModel)]="newCharacter.class">
      <option></option>
      <option *ngFor="let class of allClasses.results">{{ class.name }}</option>
    </select>
  </label>
  <label>Alignment:
    <select name="newCharacter.alignment" [(ngModel)]="newCharacter.alignment">
      <option></option>
      <option value="Lawful Good">Lawful Good</option>
      <option value="Lawful Neutral">Lawful Neutral</option>
      <option value="Lawful Evil">Lawful Evil</option>
      <option value="Neutral Good">Neutral Good</option>
      <option value="Neutral">Neutral</option>
      <option value="Neutral Evil">Neutral Evil</option>
      <option value="Chaotic Good">Chaotic Good</option>
      <option value="Chaotic Neutral">Chaotic Neutral</option>
      <option value="Chaotic Evil">Chaotic Evil</option>
    </select>
  </label>
  <hr>
  <br>
  <label>Strength:
    <input type="number" name="newCharacter.str" [(ngModel)]="newCharacter.str">
  </label>
  <label>Dexterity:
    <input type="number" name="newCharacter.dex" [(ngModel)]="newCharacter.dex">
  </label>
  <label>Constitution:
    <input type="number" name="newCharacter.con" [(ngModel)]="newCharacter.con">
  </label>
  <label>Intelligence:
    <input type="number" name="newCharacter.int" [(ngModel)]="newCharacter.int">
  </label>
  <label>Wisdom:
    <input type="number" name="newCharacter.wis" [(ngModel)]="newCharacter.wis">
  </label>
  <label>Charisma:
    <input type="number" name="newCharacter.cha" [(ngModel)]="newCharacter.cha">
  </label>
  <label>Main Role:
    <select name="newCharacter.role" [(ngModel)]="newCharacter.role">
      <option></option>
      <option value="Frontline">Frontline</option>
      <option value="Support">Support/Healer</option>
      <option value="Blast Caster">Blast Caster</option>
      <option value="Ranged DPS">Ranged DPS</option>
      <option value="Melee DPS">Melee DPS</option>
      <option value="Face">Face</option>
    </select>
  </label>
  <br>
  <label>Description:</label>
  <br>
  <textarea rows=10 cols=100 name="newCharacter.description" [(ngModel)]="newCharacter.description"></textarea>
  <br>
  <input type="Submit" value="Submit">
  <hr>
</form>
<div *ngFor="let error of errors">
  {{ error }}
</div>